<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="firstPlayer" class="Task008.Checkers">
        <constructor-arg value="8"/>
        <constructor-arg value="1"/>
        <constructor-arg value="2"/>
    </bean>
    <bean id="secondPlayer" class="Task008.Checkers" scope="prototype">
        <constructor-arg value="8"/>
        <constructor-arg value="2"/>
        <constructor-arg value="1"/>
    </bean>
    <bean id="server" class="java.net.ServerSocket" scope="prototype">
        <constructor-arg value="3456"/>
    </bean>
</beans>